<% layout("layouts/boilerplate") %>
<main class="container">

    <section>
        <header class="row mt-5 heading pb-4">
            <h1 class="text-center">Education</h1>
        </header>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mt-3">
                <div class="timeline">
                    <div class="card item text-center my-4">
                        <div class="card-body">
                            <h5 class="card-title text-white"><a href="https://www.gatech.edu" target="_blank"
                                    rel="noopener noreferrer">Georgia Institute of Technology</a></h5>
                            <p class="card-text">Computer Science Major</p>

                        </div>
                        <div class="card-footer text-white">
                            August 2022 - <span>Current</span>
                        </div>
                    </div>
                    <div class="card item text-center my-4">
                        <div class="card-body">
                            <h5 class="card-title text-white"><a href="https://www.ucvts.tec.nj.us" target="_blank"
                                    rel="noopener noreferrer">The
                                    Academy For Information Technology</a>
                            </h5>
                            <p class="card-text">A Magnet high school with a curriculum focus on Computer Science and
                                Business</p>
                        </div>
                        <div class="card-footer text-white">
                            2018 - 2022
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>