<% layout("layouts/boilerplate") %>
<main class="container">
    <section class="row justify-content-center align-items-center mt-5 heading pb-5">
        <div class="col-lg-2">
            <img src="/images/profile.png" alt="Alexa's profile picture" id="profile">
        </div>
        <div class="col-lg-6 col-md-6">
            <h1 class="text-center">Alexa Fazio</h1>
            <h2 class="text-center">Full Stack Developer</h2>
        </div>
    </section>
    <header class="row mt-5 justify-content-center align-items-center">
        <h3 class="text-center">{<span>Find Me</span>}</h3>
    </header>
    <section class="row justify-content-center text-center mt-5 g-0">
        <div class="col-lg-2">
            <div class="socials"><a href="https://github.com/afazio1" target="_blank" rel="noopener noreferrer"><img
                        class="icon" src="images/github.png" alt="GitHub"></a></div>
        </div>
        <div class="col-lg-2">
            <div class="socials"><a href="https://www.youtube.com/channel/UCdNnHNkhaRYr-3nhQqY7_dw" target="_blank"
                    rel="noopener noreferrer"><img class="icon" src="images/youtube.png" alt="YouTube"></a></div>
        </div>
        <div class="col-lg-2">
            <div class="socials"><a href="https://www.twitch.tv/ratgirlboss" target="_blank"
                    rel="noopener noreferrer"><img class="icon" src="images/twitch.png" alt="Twitch"></a></div>
        </div>
        <div class="col-lg-2">
            <div class="socials"><a href="https://www.instagram.com/robotic.nation" target="_blank"
                    rel="noopener noreferrer"><img class="icon" src="images/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </section>
</main>