<% layout("layouts/boilerplate") %>
<main class="container-fluid">
    <!-- <img src="/images/monitor2.webp" alt="" id="background"> -->
    <section class="row justify-content-center align-items-center mt-5 pb-5">
        <!-- <div class="col-lg-2">
            <img src="/images/profile.png" alt="Alexa's profile picture" id="profile">
        </div> -->
        <div class="col-lg-6 col-md-6 mt-5" id="typing">
            <h1 class="text-center" id="typeName"></h1>
            <h2 class="text-center" id="typeTitle"></h2>
        </div>
    </section>
    <header class="row connect-section justify-content-center align-items-center">
        <h3 class="text-center">{<span>Connect</span>}</h3>
    </header>
    <section class="row justify-content-center text-center mt-5">
        <div class="col-lg-6">
            <a href="https://github.com/afazio1" target="_blank" rel="noopener noreferrer"><img class="icon"
                    src="images/github.png" class="socials" alt="GitHub"></a>
            <a href="https://www.youtube.com/channel/UCdNnHNkhaRYr-3nhQqY7_dw" target="_blank"
                rel="noopener noreferrer"><img class="icon" src="images/youtube.png" class="socials" alt="YouTube"></a>
            <a href="https://www.twitch.tv/ratgirlboss" target="_blank" rel="noopener noreferrer"><img class="icon"
                    src="images/twitch.png" class="socials" alt="Twitch"></a>
            <a href="https://www.instagram.com/robotic.nation" target="_blank" rel="noopener noreferrer"><img
                    class="icon" src="images/instagram.png" class="socials" alt="Instagram"></a>
        </div>
        <!-- <div class="col-lg-3 col-sm-2">
            <a href="https://github.com/afazio1" target="_blank" rel="noopener noreferrer"><img class="icon"
                    src="images/github.png" class="socials" alt="GitHub"></a>
        </div>
        <div class="col-lg-3 col-sm-2">
            <a href="https://www.youtube.com/channel/UCdNnHNkhaRYr-3nhQqY7_dw" target="_blank"
                rel="noopener noreferrer"><img class="icon" src="images/youtube.png" class="socials" alt="YouTube"></a>
        </div>
        <div class="col-lg-3 col-sm-2">
            <a href="https://www.twitch.tv/ratgirlboss" target="_blank" rel="noopener noreferrer"><img class="icon"
                    src="images/twitch.png" class="socials" alt="Twitch"></a>
        </div>
        <div class="col-lg-3 col-sm-2">
            <a href="https://www.instagram.com/robotic.nation" target="_blank" rel="noopener noreferrer"><img
                    class="icon" src="images/instagram.png" class="socials" alt="Instagram"></a>

        </div> -->
    </section>
</main>

<script src="https://unpkg.com/typeit@8.2.0/dist/index.umd.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new TypeIt("#typeName", {
            strings: "Alexa Fazio",
            waitUntilVisible: true,
            afterComplete: function () {
                const cursor = document.getElementsByClassName("ti-cursor")[0].remove();
            }
        }).go();

        setTimeout(() => {
            new TypeIt('#typeTitle', {
                strings: "Full Stack Developer"
            }).go();
        }, 2000);

    });

</script>