<% layout("layouts/boilerplate") %>
<main class="container">
    <section class="row justify-content-center align-items-center">
        <header class="col-lg-8 text-center mt-4">
            <h1>Login</h1>
        </header>
        <% if(!currentUser) { %>
        <form action="/login" method="POST" autocomplete="off">
            <div class="row justify-content-center align-items-center">
                <div class="form-group col-lg-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="form-group col-lg-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 mt-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
        <% } else { %>
        <div class="col-lg-4 mt-3">
            <a href="/logout" class="btn btn-warning">Logout</a>
        </div>
        <% } %>
    </section>
</main>