<% layout("layouts/boilerplate") %>
<main class="container">

    <section>
        <header class="row mt-5 heading pb-4">
            <h1 class="text-center">Projects</h1>
        </header>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mt-3">
                <div>
                    <div class="card item text-center my-4">
                        <div class="card-body">
                            <h5 class="card-title text-white">Rat Labs</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem quisquam excepturi
                                error cum aut sunt, ducimus accusantium ipsa, nam architecto magni beatae distinctio,
                                inventore vel iure nemo saepe. Nesciunt, accusantium?
                                Perferendis molestias tenetur magnam commodi repellat, voluptate sed ipsam. Voluptatibus
                                nemo explicabo omnis, voluptates consequuntur eligendi! Sint, illum, nobis cum minus
                                itaque minima voluptates doloremque ipsum iusto deleniti excepturi temporibus.</p>
                            <p class="card-text">HTML, CSS, JavaScript, Bootstrap, JQuery, PHP, SQL</p>
                        </div>
                        <div class="card-footer text-white">
                            <a href="projects/:id" class="btn btn-dark">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>