* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}
html,
body {
    height: 100%;
    background-color: #2A373E;
}


/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
    
}
canvas {
    margin: 0;
    padding: 0;
    position: fixed;
    touch-action: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
#home-main {
    position: fixed;
    
}

h1, .experience-heading {
    
    font-size: 3.5rem;
    color: white;
    letter-spacing: 8px;
}
h2 {
    
    color: #91C0D8;
    font-style: italic;
}
h3 {
    color: white;
    font-size: 2.5rem;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #B0FF92;
    text-decoration: underline;
}
label {
    color: #91C0D8;
}
input, textarea {
    color: white !important;
    background-color: #212529 !important;
}
#profile {
    max-width: 200px;
}
.heading {
    border-bottom: 2px dashed white;
}
.icon {
    max-width: 100px;
    padding: 1rem;
    transition: padding 0.2s ease-in;  
}

.socials {
    margin: 5px 0;
    display: inline-block;
}
span {
    color: #B0FF92;
}
.btn:hover {
    text-decoration: none;
}
.icon:hover {
    padding: 0.7rem;
    border-bottom: #F2E863 solid 2px;
}
b {
    color: white;
}
.sub {
    border-bottom: 2px solid #B0FF92;
}
.bio {
    margin-top: 10vh;
}
.contact-footer {
    font-size: 1.5rem;
}
.navbar {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
}
.nav-link {
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
}
/* 536E7B */
.nav-link:hover {
     color: #B0FF92 !important;
     text-decoration: none;
     border-bottom: 2px solid #F2E863;
}
.item {
    font-family: 'Source Code Pro', monospace;
    color: #91C0D8;
    border-right: 2px solid #B0FF92;
    background-color: #91c0d81e;
    animation-duration: 2s;
    animation-name: timelineSlide;
}
.item:last-of-type {
    font-family: 'Source Code Pro', monospace;
    color: #91C0D8;
    border-bottom: 2px solid #F2E863;
    border-right: 2px solid #B0FF92;
    background-color: #91c0d81e;
    
}
.project-item {
    animation-duration: 1s;
    animation-name: projectsAppear;
}
.project-item:last-of-type {
    border-bottom: none;

}
.about-item {
    animation-duration: 2s;
    animation-name: slidein;
}
.timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  border-left: 4px solid #91C0D8;
  padding: 0 2rem;
}

.card {
  position: relative;
  
}


.timeline > .card::after {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: #B0FF92;
  border-radius: 50%;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}
.card-title {
    color: #B0FF92;
}
.card-footer {
    background-color: #ffffff00;
}
.project-footer {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.stack {
    color: #91C0D8;
}
.small-icon {
    font-size: 2rem;
}
.email-icon {
    background-color: #B0FF92;
    font-size: 2rem;
}

/* #canvas {
    position: absolute;
    z-index: -1;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 40vh;
    object-fit: contain;

} */
@keyframes slidein {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes timelineSlide {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes projectsAppear {
    from {
        opacity: 0.7;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.connect-section {
    padding-top: 6rem;
    animation-duration: 2s;
    animation-name: slidein;
}
.social-section {
    animation-duration: 2s;
    animation-name: slidein;
}

.carousel-item {
    max-height: 700px;
}
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    max-height: 200px;
}
.name-div {
    min-height: 250px;
    text-shadow: 0px 2px 7px #212529;
}
.computer {
    width: 300px;
}
/* #typing {
    background-color: #21252941;
    min-height: 150px;
    border-radius: 3px;
} */
@media screen and (max-width: 768px) {
    /* home page */
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .icon {
        max-width: 50px;
        padding: 0;
    }
    .icon:hover {
        padding: 0.2rem;
    }
    .connect-section {
        padding: 0;
    }
    #typeName {
        font-size: 2rem;
    }
    
    /* Other pages */
    h1 {
        font-size: 2.5rem;
    }
    .heading {
        margin-inline: 1rem;
    }
    .item, .card-title {
        font-size: 1rem;
        
    }
    .timeline {
        margin-left: 20px;
    }
    .experience-heading {
        font-size: 2.3rem;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        max-height: none;
    }
    

}