<% layout("layouts/boilerplate") %>
<main class="container">

    <section>
        <header class="row mt-5 heading pb-4">
            <h1 class="text-center">Add New Education</h1>
        </header>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mt-3">
                <form class="my-3" action="/education" method="POST" autocomplete="off">
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <label for="link">Link</label>
                            <input type="text" class="form-control" id="link" name="link">
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-3">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" id="endDate" name="endDate">
                        </div>
                    </div>
                    <div class="row my-3 align-items-center">
                        <div class="form-group col-lg-2 offset-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>